<h2 style="text-align: center;">All Products</h2>
<div class="container mt-4">

    <div class="row">
    <div  *ngFor="let product of products">
      <div *ngIf="catId==product.category.cid" class="mb-4">
        <div  >
        <div class="card">
          <div class="card-img-top" style="text-align: center;">
            <img style="max-width: 200px; max-height: 200px; min-height: 200px;" src="{{ product.url }}" alt="Product Image" class="img-fluid">
          </div>
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title">{{ product.pname }}</h5>
            <h5 class="card-title">Price {{ product.price }}</h5>
            <p class="card-text">{{ product.pdescription }}</p>
            <p class="card-text">Discount {{ product.discount }}%</p>
            
            <button (click)="addToCart(product)" class="btn btn-primary" style="margin-right:5px;background-color: #888d93;">Add to Cart</button>
            <a (click)="addToCart(product)" class="btn btn-primary" style="background-color: #212529;">Buy Now</a>
          </div>
     
        </div>
      </div>
    </div>
  </div>
</div>
</div>
