<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>E-commerce Application</title>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>

<body>

  <app-header style="margin-bottom: 0;"></app-header>
  <router-outlet ></router-outlet>
  <app-footer></app-footer>
</body>



</html>


    
