<ngb-carousel *ngIf="images" class="my-carousel">

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="https://forumstatic.oneplusmobile.com/opforum-gl/upload/image/front/thread/20230522/1085247609252714301/1336648964753063942/1336648964753063942.jpg?x-ocs-process=image/format,webp/resize,w_1584" alt="Random third slide" class="carousel-img" />
    </div>
    <div class="carousel-caption">
     
    </div>
  </ng-template>

  
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="https://oasis.opstatics.com/content/dam/oasis/page/2023/in/kv-banner/nord-ce-3-lite/HP-KV-bannner-PC.jpg.thumb.webp"  alt="Random first slide" class="carousel-img" />
    </div>
    <div class="carousel-caption">
      
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="https://m.media-amazon.com/images/G/31/img23/Wireless/ssserene/GW/May23/BAU/11/v1/D66357764_WLD_OnePlus_Salami_NewLaunch_catpage_1400x800._CB588317840_.jpg"  alt="Random first slide" class="carousel-img" />
    </div>
    <div class="carousel-caption">
      
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/appleimg.png" alt="Random second slide" class="carousel-img" />
    </div>
    <div class="carousel-caption">
      
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="https://oasis.opstatics.com/content/dam/oasis/page/2023/in/kv-banner/shamira/HeroBanner_desktop1920-5.12.jpg.thumb.webp" alt="Random third slide" class="carousel-img" />
    </div>
    <div class="carousel-caption">
     
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="https://m.media-amazon.com/images/G/31/img22/Laptops/Asus_Apr20/1400x800._CB590546405_.jpg" alt="Random third slide" class="carousel-img" />
    </div>
    <div class="carousel-caption">
     
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="https://m.media-amazon.com/images/G/31/tiyesum/N53sale/NewKV/D81072334_SIM_1400x800._CB587380442_.jpg" alt="Random third slide" class="carousel-img" />
    </div>
    <div class="carousel-caption">
     
    </div>
  </ng-template>

</ngb-carousel>


 

     <div class="container mt-2">
      <h3 class="text-center" style="padding-top: 50px;">Special Offer</h3>
      <div class="row">
        <div *ngFor="let product of products" class="col-md-12 mb-4">
          <div *ngIf="product.discount > 40" class="card">
            <div class="card-img-top text-center">
              <img src="{{ product.url }}" alt="Product Image" class="img-fluid" style="max-width: 200px; max-height: 200px; min-height: 200px;">
            </div>
            <div class="card-body text-center">
              <h5 class="card-title">{{ product.pname }}</h5>
              <h5 class="card-title">Price: {{ product.price }}</h5>
              <p class="card-text">{{ product.pdescription }}</p>
              <p class="card-text">Discount: {{ product.discount }}%</p>
              <button (click)="addToCart(product)" class="btn btn-primary" style="margin-right:5px;background-color: #888d93;">Add to Cart</button>
              <a (click)="addToCart(product)" class="btn btn-primary" style="background-color: #212529;">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    









  