<div class="container">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Login to see Your Cart</mat-card-title>
      </mat-card-header>
      <img class="card-image" src="https://img.freepik.com/free-vector/mobile-login-concept-illustration_114360-83.jpg?w=740&t=st=1685597998~exp=1685598598~hmac=7f1e2cc3af17c5586c18c5eb267952d95779ac0d3df4ed353af6ad65c49d545e" alt="Photo of a Shiba Inu">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
        <div class="button-container" style="text-align: center;">
            <button mat-button color="primary" routerLink="/account">Login</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  